body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: white;
    align-items: center;
    padding: 1px;
}

.submenu{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.logo{
    display: flex;
    align-items: center;

}

.logo img{
    height: 60px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10;
}

nav a:hover{
    color: red;
}
@media (max-width:700px){
    logo{
        flex-direction: column;
    }
}